:root {
    --primary: #603F8B;
    --secondary: #A16AE8;
}

html {
    margin: auto min(2%, 40px);
}

main {
    margin-top: 1rem;
}

h1,
h2,
h3,
h4 {
    line-height: 3rem;
}

.navbar-header {
    border-color: var(--secondary) !important;
}

.nav-item.active,
.nav-item:hover {
    background-color: var(--primary);
}

.nav-link {
    color: white !important;
}

.nav-item {
    padding: 5px;
    margin: 4px 5px;
    border-radius: 5px;
    background-color: var(--secondary);
}

.names-list {
    line-height: 2rem;
    margin-top: 1rem;
}

.names-list-item {
    display: block;
}

#main-box {
    max-width: 55%;
    min-width: min(100%, 500px);
}

#main-box>h1,
#main-box>h2 {
    display: inline;
}