html,
body {
    height: 100%;
    margin: auto 4%;
}

main {
    margin-top: 1rem;
}

h1,
h2,
h3,
h4 {
    line-height: 3rem;
}

.nav-item.active,
.nav-item:hover {
    background-color: #603F8B;
}

.nav-link {
    color: white !important;
    font-weight: 700;
}

.nav-item {
    padding: 5px;
    margin: 4px 5px;
    border-radius: 5px;
    background-color: #A16AE8;
}

.names-list {
    line-height: 3rem;
}

.names-list>span {
    font-weight: 600;
}

#main-box {
    max-width: 55%;
    min-width: min(100%, 500px);
}